# Dune
_build/
*.install

# Coq
.*.aux
.*.d
*.glob
*.vo
*.vok
*.vos
.lia.cache

# Ocaml
*.a
*.cmxa
*.cmxs
*.d
*.o
*.cmi
*.cmx
*.cmo
plugins/exec/g_freespec_exec.ml

Makefile*
.merlin

# generated docs
html
mlihtml
docs/coq
docs/ml
