# Coq
.*.aux
.*.d
*.glob
*.vo
.lia.cache

# Ocaml
*.a
*.cmxa
*.cmxs
*.d
*.o
*.cmi
*.cmx

**/Makefile
Makefile.conf
!docs/Makefile
.merlin

# generated docs
html/*
!html/index.html
**/html
docs/freespec
mlihtml/