# Coq
.*.aux
.*.d
*.glob
*.vo
.lia.cache

# coq_makefile
Makefile.coq
Makefile.coq.conf

# Ocaml
*.a
*.cmxa
*.cmxs
*.d
*.o
*.cmi
*.cmx

# merlin
.merlin

# generated docs
html/*
!html/index.html
**/html
docs/freespec
mlihtml/

# dune
*.install
_build/